[main]
HOST=embed.demo.com
LOOKER=yourlooker.cloud.looker.com
FRONTENDPORT=3000
BACKENDPORT=8000
[api]
base_url=https://yourlooker.cloud.looker.com/
client_id=XXX
client_secret=XXX
[embed]
SECRET=XXX
EMBED_HOST=yourlooker.cloud.looker.com